.drop-down-container:has(.dropdown-filter-container) {
    position: relative;

    .dropdown-filter-container {
        display: none;
        position: absolute;
        z-index: 10;
        top: 3.3rem;
        left: -0.1rem;
        min-width: calc(100% - 1.6rem);
        box-shadow: rgba(0, 0, 0, 0.07) 0 0.1rem 0.1rem, rgba(0, 0, 0, 0.07) 0 0.2rem 0.2rem, rgba(0, 0, 0, 0.07) 0 0.4rem 0.4rem, rgba(0, 0, 0, 0.07) 0 0.8rem 0.8rem, rgba(0, 0, 0, 0.07) 0 1.6rem 1.6rem;
    	border: 0.1rem solid var(--dropdown-filter-border-color, var(--GENERAL-BORDER-COLOR));
        background-color: var(--dropdown-filter-background-color, var(--DARKER-GREY));
    }

    .dropdown-filter-container.show {
        display: block;
    }

    .dropdown-filter-options-container {
        display: flex;
        max-height: var(--dropdown-filter-height, 20rem);
        flex-direction: column;
        overflow-y: auto;
        scrolllbar-gutter: stable;
    }

    .dropdown-filter-options-container > div:nth-child(odd of :not(.hide)) {
        background-color: var(--dropdown-filter-odd-option-background-color, var(--LIGHT-GREY));
    }

    input {
        width: 100%;
    }

    .dropdown-filter-option {
        cursor: pointer;
        padding: var(--dropdown-filter-option-topbottom-padding, 0.6rem) var(--dropdown-filter-option-rightleft-padding, 1.2rem);
        white-space: nowrap;
    }

    .dropdown-filter-option.hide {
        display: none;
    }

    .option-hint.hide {
        display: none;
    }
}
html {
    min-height: 100%;
    font-size: 62.5%;
}