:root {
    --dropdown-filter-height: 200px;
    --dropdown-filter-background-color: #f9f9f9;
    --dropdown-filter-border-color: #ccc;
    --dropdown-filter-option-rightleft-padding: 12px;
    --dropdown-filter-option-topbottom-padding: 6px;
    --dropdown-filter-odd-option-background-color: #f1f1f1f1;
}