:root {
    --dropdown-filter-height: 20rem;
    --dropdown-filter-background-color: #f9f9f9;
    --dropdown-filter-border-color: #ccc;
    --dropdown-filter-option-rightleft-padding: 1.2rem;
    --dropdown-filter-option-topbottom-padding: 0.6rem;
    --dropdown-filter-odd-option-background-color: #f1f1f1f1;
    --dropdown-filter-option-hover-background-color: #f9f9f9;
}